@import '~@/assets/styles/variables'

.see-more
  width: 100%

.see-more__content
  max-height: 2000px
  overflow: hidden
  transition: 0.5s max-height ease-in-out

.see-more__content--hidden
  max-height: 0px
  overflow: hidden

dump_media_cache()