@import '~@/assets/styles/variables'

.icon-combo__wrap
  display: flex
  flex-direction: row

.icon-combo__wrap--center
  flex-direction: column

.icon-combo__wrap--lg
  @media(max-width: 767px)
    flex-direction: column

  .text__wrap--standard, .text__wrap--left, .text__wrap--right, .text__wrap--center
    @media(max-width: 767px)
      text-align: center

  .icon__wrap--standard, .icon__wrap--left, .icon__wrap--right, .icon__wrap--center
    @media(max-width: 767px)
      margin-left: auto 
      margin-right: auto
      text-align: center

  .icon__wrap--center
    margin-bottom: 14px

.icon__wrap
  margin-bottom: 10px 

  @media(max-width: 767px)
    margin-bottom: 5px

  >>>.icon__wrap--standard
    display: flex
    text-align: center
    justify-content: center
    align-items: center
    margin-right: 0

    &.icon__wrap--sm
      width: $size-icon-sm
      height: $size-icon-sm

    &.icon__wrap--md
      width: $size-icon-md
      height: $size-icon-md

    &.icon__wrap--lg
      width: $size-icon-lg
      height: $size-icon-lg

.icon__wrap--standard, .icon__wrap--left
  margin-right: 14px
  margin-left: 0
  order: 1

.icon__wrap--right
  margin-left: 14px
  margin-right: 0
  order: 2

.icon__wrap--center
  margin-bottom: 4px
  margin-left: auto
  margin-right: auto
  text-align: center

.text__wrap--standard, .text__wrap--left
  text-align: left
  order: 2

.text__wrap--right
  text-align: right
  order: 1

.text__wrap--center
  text-align: center

dump_media_cache()