@import '~@/assets/styles/variables'

/* ----- COLORS ----- */

.section
  overflow: hidden

.section--bg-standard
  background-color: $bg-standard

  &.mode--dark
    background-color: $bg-standard-dm

.mode--dark
  .section--bg-standard
    background-color: $bg-standard-dm

.section--bg-alt
  background-color: $bg-alt

.mode--dark
  .section--bg-alt
    background-color: $bg-alt-dm

.section--bg-brand, .section--bg-hero
  background-color: $bg-brand-highlight

  &.mode--dark
    background-color: $bg-brand-highlight-dm

.mode--dark
  .section--bg-brand, .section--bg-hero
    background-color: $bg-brand-highlight-dm

.section--bg-secondary
  background-color: $bg-secondary-highlight

  &.mode--dark
    background-color: $bg-secondary-highlight-dm

.mode--dark
  .section--bg-secondary
    background-color: $bg-secondary-highlight-dm

// .section--bg-secondary-lowlight
//   background-color: $bg-secondary-lowlight

/* ----- SIZES ----- */

.section 
  position: relative
  padding: 70px 20px

.section--sm
  padding: 40px 20px

  &.top
    padding-top: 100px

  @media only screen and (max-width: 767px)
    padding: 30px 10px

    &.top
      padding-top: 70px

.section--md
  padding: 70px 20px

  &.top
    padding-top: 130px

  @media only screen and (max-width: 767px)
    padding: 50px 10px

    &.top
      padding-top: 110px

.section--lg
  padding: 100px 20px

  &.top
    padding-top: 160px

  @media only screen and (max-width: 767px)
    padding: 70px 10px

    &.top
      padding-top: 130px

.section--flat-bottom
  padding-bottom: 0px

.section--flat-top
  padding-top: 0px

.section--flat
  padding-top: 0px
  padding-bottom: 0px

.section__inner
  position: relative
  width: 100%
  z-index: 1

/* ----- SWOOSH ----- */

.section--swoosh-bottom, .section--swoosh-all
  padding-bottom: 140px !important

  &:after
    content: ''
    width: 100%
    height: 100%
    position: absolute 
    bottom: 0px
    left: 0px
    background-image: url('./svg/swoosh-bottom.svg')
    background-repeat: no-repeat
    background-size: 102%
    background-position: left -1px bottom -1px
    z-index: 0

  @media(max-width: 991px)
    padding-bottom: 90px !important

.section--swoosh-top, .section--swoosh-all
  padding-top: 140px !important
  
  &:before
    content: ''
    width: 100%
    height: 100%
    position: absolute 
    top: 0px
    left: 0px
    background-image: url('./svg/swoosh-top.svg')
    background-repeat: no-repeat
    background-size: 102%
    background-position: left -1px top -1px
    z-index: 0
    padding-top: 200px

  @media(max-width: 991px)
    padding-top: 90px !important

.mode--dark
  .section--swoosh-bottom, .section--swoosh-all
    &:after
      background-image: url('./svg/swoosh-bottom-dm.svg')

  .section--swoosh-top, .section--swoosh-all
    &:before
      background-image: url('./svg/swoosh-top-dm.svg')

/* ----- WAVE ----- */

.section--wave-bottom, .section--wave-all
  padding-bottom: 140px !important

  &:after
    content: ''
    width: 100%
    height: 100%
    position: absolute 
    bottom: 0px
    left: 0px
    background-image: url('./svg/wave-bottom.svg')
    background-repeat: no-repeat
    background-size: 102%
    background-position: left -1px bottom -1px
    z-index: 0

  @media(max-width: 991px)
    padding-bottom: 90px !important

.section--wave-top, .section--wave-all
  padding-top: 140px !important
  
  &:before
    content: ''
    width: 100%
    height: 100%
    position: absolute 
    top: 0px
    left: 0px
    background-image: url('./svg/wave-top.svg')
    background-repeat: no-repeat
    background-size: 102%
    background-position: left -1px top -1px
    z-index: 0
    padding-top: 200px

  @media(max-width: 991px)
    padding-top: 90px !important

.mode--dark
  .section--wave-bottom, .section--wave-all
    &:after
      background-image: url('./svg/wave-bottom-dm.svg')

  .section--wave-top, .section--wave-all
    &:before
      background-image: url('./svg/wave-top-dm.svg')

dump_media_cache()