@import '~@/assets/styles/variables'

$mp = 2 // margin, in percent

@keyframes backgroundMotion
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}


.grid__window
  position: relative
  display: flex
  justify-content: center
  align-item: center

.grid
  display: flex
  flex-wrap: wrap
  margin-left: -20px
  margin-right: -20px
  align-items: center
  justify-content: flex-start

  @media(max-width: 676px)
    margin-left: -10px
    margin-right: -10px

.grid--zoomable, .grid--gallery
  >>>.item
    img
      cursor: zoom-in

  >>>.item--zoom
    img
      cursor: zoom-out

.grid--gallery
  >>>.item
    border-radius: 10px
    overflow: hidden
    background: linear-gradient(270deg, $brand-xxlight, $secondary-xxlight)
    background-size: 400% 400%
    animation: backgroundMotion 3s ease 3

    img
      display: block

.dark--mode
  .grid--gallery
    >>>.item
      background: linear-gradient(270deg, $brand-xxdark, $secondary-xxdark)

.item
  display: inline-block
  margin: ($mp)%
  width: 100%

  &.item--zoom
    position: relative
    width: 50% !important

    @media(max-width: 991px)
      width: 100% !important
  
  >>>.secret
    display: none

for num in (1..6)
  .grid--{num}
    >>>.item
      width: ((100 / num) - (2 * $mp))%

for num in (4..6)
  .grid--{num}
    >>>.item
      @media(max-width: 991px)
        width: ((100 / 3) - (2 * $mp))%

for num in (3..6)
  .grid--{num}
    >>>.item
      @media(max-width: 767px)
        width: ((100 / 2) - (2 * $mp))%

for num in (1..6)
  .grid--{num}
    >>>.item
      @media(max-width: 424px)
        width: 100%



dump_media_cache()
