@import '~@/assets/styles/variables'

.btn
  font-family: $font-copy
  padding: 10px 15px
  line-height: 1.0em
  font-size: 1.0em
  border-radius: $size-btn-radius
  outline: none
  text-decoration: none
  border: 2px solid

  &:hover
    cursor: pointer

  &:focus
    box-shadow 0 0 5px 1px $brand

.btn--selected
  border-color: $btn-selected-outline !important

a:not(.btn), .btn--link
  display: inline-block
  background-color: transparent 
  outline: none 
  border: 0px
  padding: 0px
  margin: 0px
  border-radius: 0px
  text-decoration: underline
  line-height: inherit
  color: $brand-xdark
  font-weight: 600

  &.btn--lg, &.btn--md, &.btn--sm
    padding: 0px

  &:hover, &:focus
    border-color: $btn-hover
    background-color: rgba(0,0,0,0.15)
    box-shadow: none

a:not(.btn), .btn--link-alt
  display: inline-block
  background-color: transparent 
  outline: none 
  border: 0px
  border-bottom: 2px solid $btn-secondary
  padding: 0px
  margin: 0px
  border-radius: 0px
  text-decoration: none
  line-height: inherit
  color: $copy
  font-weight: 600

  &.btn--lg, &.btn--md, &.btn--sm
    padding: 0px

  &:hover, &:focus
    border-color: $btn-hover
    background-color: rgba(0,0,0,0.15)
    box-shadow: none

.mode--dark
  a:not(.btn), .btn--link-alt
    color: $copy-dm

    &:hover
      background-color: rgba(0,0,0,0.3)

  a:not(.btn), .btn--link
    color: $brand-xlight

    &:hover
      background-color: rgba(0,0,0,0.3)

.btn--standard
  border-color: $btn
  background-color: $btn
  color: white
  display: inline-block

  &:hover
    color: $white
    background-color: $btn-hover
    border-color: $btn-hover

.btn--secondary
  border-color: $btn-secondary
  background-color: $btn-secondary
  color: white
  display: inline-block

  &:hover
    color: $white
    background-color: $btn-secondary-hover
    border-color: $btn-secondary-hover

.mode--dark
  .btn--selected
      border-color: $btn-selected-outline-dm !important

  .btn--standard
    border-color: $btn-dm
    background-color: $btn-dm
    color: white

    &:hover
      color: $white
      background-color: $btn-hover-dm
      border-color: $btn-hover-dm


.btn--light
  border-color: $btn-light
  background-color: $btn-light
  color: $copy-light
  display: inline-block

  &:hover
    color: $copy-light
    background-color: $btn-light-hover
    border-color: $btn-light-hover

.btn--hollow
  background-color: transparent 
  color: $btn
  display: inline-block

  &:hover
    color: $btn-hover
    border-color: $btn-hover

.btn--plain
  color: inherit 
  padding: 0 !important
  border: 0
  opacity: 1
  background-color: transparent 
  border-radius: 0

  &:hover
    opacity: 0.9

.btn--sm
  font-size: 0.8em
  padding: 5px 8px

.btn--md
  padding: 12px 20px

.btn--lg
  padding: 15px 30px
  font-size: 1.2em

.btn--center
  display: inline-block
  margin-left: auto 
  margin-right: auto

.btn--icon
  border-color: transparent
  background-color: $btn-icon
  color: $copy
  border-radius: 50%
  padding: 0px
  display: flex
  align-items: center
  justify-content: center

  &:hover
    background-color: $btn-icon-hover
  
  &.btn--sm
    width: 25px
    height: 25px

  &.btn--md
    width: 40px
    height: 40px

  &.btn--lg
    width: 55px
    height: 55px

/* --- DARK MODE -- */

.mode--dark
  .btn
    &:focus
      box-shadow 0 0 5px 1px $brand-xlight

  .btn--plain
    &:focus
      box-shadow: none

  a:not(.btn), .btn--link, .btn--link-alt
    &:hover, &:focus
      box-shadow: none

  .btn--icon
    color: $copy-dm
    background-color: $btn-icon-dm

    &:hover
      background-color: $btn-icon-hover-dm

  .btn--hollow
    color: $btn-hollow-dm
    border-color: $btn-hollow-dm

    &:hover
      color: $btn-hollow-hover-dm
      border-color: $btn-hollow-hover-dm


dump_media_cache()