@import '~@/assets/styles/variables'

.accordion
  margin-bottom: 5px

.accordion__label
  position: relative
  width: 100%
  background-color: $accordion
  border: 1px solid $accordion
  border-radius: 4px
  text-align: left
  outline: none
  cursor: pointer

  &:after
    content: '+'
    color: $brand
    position: absolute 

  &:hover, &:focus
    border: 1px solid $accordion-hover
    background-color: $accordion-hover

.accordion__content-wrap
  max-height: 0
  overflow: hidden
  border: 0

.accordion--expanded
  .accordion__label
    border-bottom-right-radius: 0px
    border-bottom-left-radius: 0px

    &:after
      content: '-'

  .accordion__content-wrap
    border: 1px solid $accordion
    border-top: 2px solid $brand
    max-height: 3000px
    border-bottom-right-radius: 4px
    border-bottom-left-radius: 4px
    transition 0.7s max-height ease-in-out

.accordion--sm
  .accordion__label
    padding: 6px 8px
    font-size: 0.9em

    &:after
      right: 8px

  .accordion__content
    padding: 8px
    font-size: 0.9em

.accordion--md
  .accordion__label
    padding: 10px 12px
    font-size: 1em

    &:after
      right: 10px

  .accordion__content
    padding: 10px 12px

.accordion--lg
  .accordion__label
    padding: 20px 18px
    font-size: 1em

    &:after
      right: 18px


  .accordion__content
    padding: 18px

.mode--dark
  .accordion__label
    color: $copy-dm
    background-color: $accordion-dm
    border: 1px solid $accordion-dm

    &:after
      color: $brand-xxlight

    &:hover, &:focus
      border: 1px solid $accordion-hover-dm
      background-color: $accordion-hover-dm

  .accordion--expanded
    .accordion__content-wrap
      border: 1px solid $accordion-dm
      border-top: 2px solid $brand-xlight

dump_media_cache()