@import '~@/assets/styles/variables'

.input__wrap
  margin-bottom: 10px

.input__label
  display: inline-block
  width: 100%
  font-size: 0.9em
  font-weight: bold

.input__item
  color: $copy
  font-family: $font-copy
  font-size: 1.0em
  background-color: transparent
  width: 100%
  border: 1px solid $form-border
  border-radius: 3px
  padding: 10px

  &:focus
    border: 2px solid $form-border-focus
    outline: none
    padding: 9px

.mode--dark
  .input__item
    border-color: $form-border-dm
    color: $copy-dm

    &:focus
      border-color: $form-border-focus-dm


dump_media_cache()