@import '~@/assets/styles/variables'
@import '~@/assets/styles/external/bootstrap-grid'
@import '~@/assets/styles/external/fa-brands'
@import '~@/assets/styles/external/fa-all'

/* ----- COPY ----- */
body
  font-family: $font-copy, Arial, sansserif;
  font-style: normal
  font-weight: 400
  font-size: $size-copy
  color: $copy
  line-height: 1.5em
  padding: 0
  margin: 0

  .mode--dark
    color: $copy-dm

  p
    margin: 0
    margin-bottom: 5px

  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
    margin: 0 0 10px
    font-weight: 600
    font-family: $font-headings, Arial, sansserif

  h1, .h1
    line-height: 1em
    font-size: 2.8em
    color: $heading

  .mode--dark
    h1, .h1
      color: $heading-dm

  h2, .h2
    line-height: 1em
    font-size: 2.2em

  h3, .h3
    line-height: 1em
    font-size: 1.8em

  h4, .h4
    line-height: 1em
    font-size: 1.4em

  h5, .h5
    line-height: 1em
    font-size: 1.0em

  h6, .h6
    line-height: 1em
    font-size: 0.9em

  h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
    color: heading-alt

  .mode--dark
    h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
      color: $heading-alt-dm

  strong 
    font-weight: 600
    color: $brand-xdark

  .mode--dark
    strong
      color: lighten($brand-xlight, 20%)

  .heading--accent
    text-transform: uppercase
    color: $secondary
    font-size: $size-copy

  .heading--title
    color: $brand
    font-size: 1.2em
  
  .mode--dark

    .heading--accent
      color: $secondary-xlight

    .heading--title
      color: $brand-xlight

/* ---- MARGINS ---- */

  for num in (5 10 20 30 40 50)
    .margin--top-{num}
      margin-top: (num)px

    .margin--bottom-{num}
      margin-bottom: (num)px

    .margin--left-{num}
      margin-left: (num)px

    .margin--right-{num}
      margin-right: (num)px

  .margin--center
    margin-left: auto
    margin-right: auto

  .margin--center-block
    display: block !important
    margin-left: auto
    margin-right: auto

/* ----- GENERAL ----- */

  img 
    display: inline-block
    width: 100%

  .text-align-center
    text-align: center

  ul
    margin: 0px
    margin-top: 10px
    padding-left: 25px

    li
      list-style-type: none
      margin-bottom: 5px

      &:before
        content: '\21FE'
        color: $brand-dark
        font-weight: bold
        margin-left: -25px
        margin-right: 10px

  .mode--dark
    ul li
      &:before
        color: $brand-light

dump_media_cache()