@import '~@/assets/styles/variables'

.section 
  padding: 70px 20px

.section--bg-standard
  background-color: $standard

.section--bg-dark
  background-color: $standard-dark

.section--bg-xdark
  background-color: $standard-xdark

.section--bg-xxdark
  background-color: $standard-xxdark

.section--bg-brand-xxlight
  background-color: $brand-xxlight

.section--bg-brand-xxdark
  background-color: $brand-xxdark
  color: white

  h1, .h1, h2, .h2, h3, .h3
    color: $brand-xxlight

.section--bg-secondary-xxlight
  background-color: $secondary-xxlight

.section--bg-secondary-xxdark
  background-color: $secondary-xxdark

.section--sm
  padding: 40px 20px

  @media only screen and (max-width: 767px)
    padding: 30px 10px

.section--md
  padding: 70px 20px

  @media only screen and (max-width: 767px)
    padding: 50px 10px

.section--lg
  padding: 100px 20px

  @media only screen and (max-width: 767px)
    padding: 70px 10px

.section__inner-wrap
  width: 100%
  max-width: 1200px
  margin: 0 auto

dump_media_cache()