@import '~@/assets/styles/variables'

.code
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, Courier New, sans-serif
  background-color: $med-grey
  border-radius: $size-radius
  color: $white
  overflow-y: auto

.code--sm
  padding: 15px 8px

.code--md
  padding: 20px 15px

.code--lg
  padding: 30px

@media(max-width: 767px)
  .card--sm, .card--md, .card--lg
    padding: 20px 15px

dump_media_cache()