@import '~@/assets/styles/variables'

.tag
  line-height: 1.0em
  font-size: 0.8em
  padding: 5px 8px
  font-weight: bold
  border-radius: $size-btn-radius
  border: 2px solid
  color: $white
  display: inline-block

.tag--standard
  border-color: $btn-light
  background-color: $btn-light

.tag--secondary
  border-color: $btn-secondary
  background-color: $btn-secondary

.tag--hollow
  color: $med-grey
  border: 2px solid $med-grey
  background-color: transparent

.mode--dark
  .tag--hollow
    color: $white
    border: 2px solid $white
    background-color: transparent

dump_media_cache()