@import '~@/assets/styles/variables'

.tag
  position: relative 
  overflow: visible
  line-height: 1.0em
  font-size: 0.8em
  padding: 5px 8px
  font-family: $font-copy, Arial, sans-serif 
  font-weight: bold
  border-radius: $size-btn-radius
  border: 2px solid
  color: $white
  display: inline-block
  justify-content: center
  width: auto
  margin-bottom: 1px

  &:hover
    .tag-label
      display: flex

  &:focus
    box-shadow 0 0 4px 1px $brand
    outline: none

  &.tag--show-label
    .tag-label
      display: flex

.tag--standard
  border-color: $btn-light
  background-color: $btn-light

.tag--secondary
  border-color: $btn-secondary-light
  background-color: $btn-secondary-light

.tag--hollow
  color: $med-grey
  border: 2px solid $med-grey
  background-color: transparent

.tag--pointer:hover
  cursor: pointer

.mode--dark
  .tag--hollow
    color: $white
    border: 2px solid $white
    background-color: transparent

>>>.tag-label
  position: absolute
  font-weight: 400
  line-height: 1.3em
  width: 100%
  min-width: 160px
  text-align: center
  bottom: 29px
  left: 50%
  right: 50%
  transform: translate(-50%, 0)
  padding: 8px 8px
  border-radius: 6px
  display: none
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: 14px
  background-color: $white
  color: $copy
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2)

  &::after
    content: ''
    width: 0
    height: 0
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-top: 6px solid $white
    position: absolute 
    bottom: -6px

  p:last-of-type
    margin-bottom: 0px !important


dump_media_cache()