@import '~@/assets/styles/variables'

.card
  position: relative
  background-color: $card
  border-radius: $size-radius

.card--shadow
  background-color: $card-standard
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2)

.mode--dark
  .card
    background-color: $card-dm

  .card--shadow
    background-color: $card-standard-dm
    box-shadow: 0px 0px 8px rgba(0,0,0,0.8)

.card__content--md
  padding: 30px 30px

.card__content--sm
  padding: 20px 15px

.card__content--lg
  padding: 40px 60px

@media(max-width: 767px)
  .card__content--sm, .card__content--md, .card__content--lg
    padding: 20px 15px

dump_media_cache()