@import '~@/assets/styles/variables'

$input-size = 18px

.input__wrap
  display: flex
  align-items: center
  margin-bottom: 8px

  &:last-of-type
    margin-bottom: 0

.input__label
  align-items: center
  font-size: 1.0em
  display: inline-block
  position: relative
  padding-left: 30px
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  &:focus .input__item ~ .input__selector
    background-color: $form-selector-focus

  &:hover .input__item ~ .input__selector
    background-color: $form-selector-focus

.input__item
  font-family: $font-copy
  font-size: 1.0em
  padding: 0
  margin: 0
  margin-right: 6px
  position: absolute
  opacity: 0
  cursor: pointer
  height: 0
  width: 0

  &:checked ~ .input__selector
    background-color: $brand !important

    &:after
      display: block

  &:checked ~ .input__selector--radio
    border: 5px solid $form-selector

    &:after
      display: none

.input__selector
  position: absolute
  left: 0
  top: 3px
  height: $input-size
  width: $input-size
  border-radius: 3px
  background-color: $form-selector

  &.input__selector--radio
    border-radius: 50%

  &:after
    display: none
    content: "\2714"
    font-size: 14px
    position: absolute
    left: 0px
    bottom: 4px
    color: white
    width: $input-size
    height: $input-size
    text-align: center


dump_media_cache()